@charset "UTF-8";

* {
	text-decoration: none;
	font-family: 'NanumSquareRound';
	color: black;
}

.container {
	width: 100%;
}

/* header */
.header {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: flex-end;
}

.header .menu {
	list-style: none;
	margin-right: 10px;
	font-size: 15px;
	font-weight: bolder;
}

.header .menu:hover {
	transform: scale(1.1);
}

hr {
	width: 1260px;
}

.nav .img {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
}

.nav .img .logo {
	position: absolute;
	z-index: 600;
	display: inline-block;
	float: left;
	width: 200px;
	margin-top: 15px;
}

.nav .img .logo:hover {
	transform: scale(1.1);
}

.nav .menu {
	list-style: none;
	display: flex;
	justify-content: center;
	height: 146.13px;
	font-size: 25px;
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
}

.nav .menu a {
	margin-left: 40px;
}

.nav .menu a:hover {
	transform: scale(1.1);
}

/* swiper */
.swiper {
	width: 1260px;
	height: 550px;
	margin-top: 30px;
}

.swiper-slide {
	background-color: rgb(236, 233, 224);
}

.swiper a {
	text-decoration: none;
}

.swiper .number {
	font-size: 30px;
	margin-top: 10px;
	margin-left: 10px;
}

.swiper img {
	object-fit: contain;
	height: 400px;
	width: 1260px;
}

.swiper .text {
	color: #f2f2f2;
	background: rgba(0, 0, 0, 0.6);
	font-size: 34px;
	padding: 16px 0;
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}

/* content2 */
.content2 .img1 {
	object-fit: contain;
	height: 800px;
	width: 1260px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
}

.content2 .img2 {
	object-fit: contain;
	height: 800px;
	width: 1260px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
}

html {
	/* 맨 위 버튼 눌렀을 때 스무스하게 올라가는 css */
	scroll-behavior: smooth;
}

/* footer 공통 */
footer .footer {
	margin-top: 10px;
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

/* footer CS */
footer .footer .CS {
	padding-top: 50px;
	float: left;
	text-align: center;
	width: 25%;
	mar
}

footer .footer .CS .CS01 {
	margin-bottom: 15px;
	font-size: 15px;
}

footer .footer .CS .CS02 {
	font-size: 13px;
}

footer .footer .CS .CS02 li {
	margin-bottom: 5px;
}

/* footer COMPANY */
footer .footer .COMPANY {
	padding-top: 50px;
	float: left;
	text-align: center;
	width: 25%;
}

footer .footer .COMPANY .COMPANY01 {
	margin-bottom: 15px;
	font-size: 15px;
}

footer .footer .COMPANY .COMPANY02 {
	font-size: 13px;
}

footer .footer .COMPANY .COMPANY02 li {
	margin-bottom: 5px;
}

/* footer BANK */
footer .footer .BANK {
	padding-top: 55px;
	float: left;
	text-align: center;
	width: 25%;
}

footer .footer .BANK .BANK01 {
	margin-bottom: 15px;
	font-size: 15px;
}

footer .footer .BANK .BANK02 {
	margin-bottom: 5px;
	font-size: 13px;
}

footer .footer .BANK .BANK02 li {
	margin-bottom: 5px;
}

/* footer 오시는 길 */
footer .footer .map01 {
	margin-bottom: 10px;
	margin-right: 15%;
	float: right;
	padding-top: 5px;
	font-size: 15px;
	text-align: center;
}

/* footer 구글지도 */
footer .footer .map02 {
	width: 200px;
	margin-bottom: 10px;
}

/* 이용 약관 */
footer .bottom {
	padding-top: 8px;
	text-align: center;
}

footer .bottom p {
	font-size: 10px;
	text-align: center;
}

footer .btn {
	padding-top: 5px;
	text-align: center;
	font-size: 8px;
}

h2 {
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
}

/* join.jsp */
/* user */
.user {
	margin: 0 auto;
	width: 850px;
}

.user .userTable {
	margin-left: auto;
	margin-right: auto;
}

.user .userTable .userId {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userPw {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userConfirmPw {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userName {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userConfirmPw {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userAddrPostal {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userAddr {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userAddrDetail {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userGender {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

.user .userTable .userBirth {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 23px;
}

#userPwError {
	display: none;
	color: red;
}

#userConfirmPwE {
	display: none;
	color: red;
}

.user .userTable .addr {
	float: left;
	margin-right: 30px;
	font-size: 15px;
	margin-bottom: 5px;
}

input#idButton {
	width: 100px;
}

input {
	margin-top: -5px;
	width: 180px;
	height: 25px;
	margin-bottom: 30px;
	font-size: 13px;
}

input#postCode {
	width: 70px;
}

tr.userAddress {
	margin-bottom: 10px;
}

#userGender {
	width: 100px;
	height: 23px;
	font-size: 13px;
	margin-bottom: 30px;
}

#gender {
	width: 15px;
	height: 15px;
	margin-bottom: 30px;
}

select#year {
	width: 60px;
	height: 20px;
	margin-bottom: 30px;
}

select#month {
	width: 40px;
	height: 20px;
	margin-bottom: 30px;
}

select#day {
	width: 40px;
	height: 20px;
	margin-bottom: 30px;
}

.form-group {
	display: block;
	background-color: #000000;
	color: white;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
	padding: 16px 10px 17px;
	font-size: 25px;
	letter-spacing: 3px;
	width: 140px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
}

.form-group .user_btn {
	color: white;
}

.form-group:hover {
	background-color: #4b4b4b;
}

/* login */
.find {
	font-size: 12px;
	display: flex;
	justify-content: center;
}

.find .id, .find .pw, .find .join {
	margin-left: 15px;
}

.find .id:hover {
	transform: scale(1.1);
}

.find .pw:hover {
	transform: scale(1.1);
}

.find .join:hover {
	transform: scale(1.1);
}

/* myPage */
.user .img {
	width: 100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.user .text {
	font-size: 12px;
	display: flex;
	justify-content: center;
}

/* product */
.product1 {
	width: 1260px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.product1 a {
	width: 25%;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.product1 a:hover {
	transform: scale(1.1);
}

.product1 .img {
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 20px;
}

.product1 .text {
	text-align: center;
}

.product1 .text .text1 {
	font-size: 20px;
	font-weight: bold;
}

.product1 .text .text2 {
	font-size: 15px;
}

.product1 .text .text3 {
	font-size: 15px;
}

.product2 {
	width: 1260px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.product2 a {
	width: 25%;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.product2 a:hover {
	transform: scale(1.1);
}

.product2 .img {
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 20px;
}

.product2 .text {
	text-align: center;
}

.product2 .text .text1 {
	font-size: 20px;
	font-weight: bold;
}

.product2 .text .text2 {
	font-size: 15px;
}

.product2 .text .text3 {
	font-size: 15px;
}

/*  */