<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- join -->
		<typeAlias type="com.shoppingmall.none.user.join.vo.UserJoinVo" alias="userJoinVo" />		
	<!-- login -->	
		<typeAlias type="com.shoppingmall.none.user.login.vo.UserLoginVo" alias="userLoginVo" />		
	<!-- findId -->	
		<typeAlias type="com.shoppingmall.none.user.login.vo.UserLoginVo" alias="userFindIdVo" />
	<!-- findPw -->
		<typeAlias type="com.shoppingmall.none.user.login.vo.UserLoginVo" alias="userFindPwVo" />
	<!-- myPage -->
		<typeAlias type="com.shoppingmall.none.user.myPage.vo.UserUpdateVo" alias="userUpdateVo" />
	<!-- withdrawal -->
		<typeAlias type="com.shoppingmall.none.user.myPage.vo.UserWithdrawalVo" alias="userWithdrawalVo" />
	<!-- adminLogin -->
		<typeAlias type="com.shoppingmall.none.admin.adminLogin.vo.AdminLoginVo" alias="adminLoginVo" />
	<!-- adminUser -->
		<typeAlias type="com.shoppingmall.none.admin.adminUser.vo.AdminUserVo" alias="adminUserVo" />
	<!-- adminPage -->
		<typeAlias type="com.shoppingmall.none.admin.adminUser.vo.AdminPageVo" alias="adminPageVo" />
	</typeAliases>
</configuration>