<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminLoginDao">
<!-- 로그인 -->
	<select id="adminLogin" parameterType="adminLoginVo" resultType="adminLoginVo">
  	SELECT * FROM member WHERE userId = #{userId} AND userPw = #{userPw} AND adminYN = #{adminYN}
	</select>
	
<!-- 회원 전체 수 조회 -->
	<select id="adminUserCount" resultType="int">
		SELECT COUNT(*) FROM member
	</select>	
	
<!-- 회원정보 조회 -->
   <select id="adminUserInfo" parameterType="adminPageVo" resultType="adminUserVo">
      SELECT
          A.*
      FROM
      (
          SELECT
              ROW_NUMBER() OVER(ORDER BY M.USERSEQ) rNum 
              , M.USERSEQ
              , M.USERID
              , M.USERPW
              , M.USERNAME
              , M.USERADDRPOSTAL
                  , M.USERADDR
                  , M.USERADDRDETAIL
                  , M.USERGENDER
                  , M.USERBIRTH
                  , M.USEYN
                  , M.ADMINYN
                FROM 
                    MEMBER M
      ) A
      WHERE
          A.RNUM BETWEEN #{startIndex} AND ${endIndex}
   </select>
	
	<!-- 회원 삭제 -->
	<delete id="userDelete">
	    DELETE FROM member WHERE userId IN
	    <foreach collection="list" item="userId" open="(" close=")" separator=",">
	        #{userId}
	    </foreach>
	</delete>
</mapper>

